<div class="container">
<!--  <p (click)="select()">{{testVariable}}</p>-->

  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <div>
            <p><b>Anonymous</b> <span class="badge badge-danger ml-1">OP</span> | <i>14 minutes ago</i> | <a href="#">1</a></p>
          </div>
          <div class="media mb-4">
            <img class="d-flex align-self-start rounded mr-3 avatar-sm img-fluid" src="assets/images/obrazek1.jpg" alt="Jakiś Obrazeczek" height="256">
            <div class="media-body">
              <h5 class="mt-0 font-size-14">Tytuł</h5>
              <p>Jakiś tekst. <br/> Jakiś tekst. <br/> Jakiś tekst.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
