.post-nickname {
  font-weight: bold;
}

.post-badge {

}

.post-date-time {
  font-style: italic;
  font-weight: lighter;
}

.post-id {
  font-weight: normal;
}

.post-image {
  max-height: 256px;
  max-width: 384px;
}

.post-text {
  font-weight: normal;
}
