<div class="container">
<!--  <p (click)="select()">{{testVariable}}</p>-->

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="postInformation">
          <p>
            <span class="post-nickname">Anonymous</span>
            <span class="post-badge badge badge-danger ml-1">OP</span> |
            <span class="post-date-time">14 minutes ago</span> |
            <span class="post-id">1</span>
          </p>
        </div>
        <div class="media mb-4">
          <img class="post-image d-flex align-self-start rounded mr-3 avatar-sm img-fluid" src="assets/images/obrazek1.jpg" alt="Jakiś Obrazeczek">
          <div class="post-text media-body">
            <p>Jakiś tekst. <br/> Jakiś tekst. <br/> Jakiś tekst.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
