<div class="post-card card" *ngIf="post">
  <div class="post-body card-body">
    <div class="postInformation">
      <p>
        <span class="post-nickname">Anonymous</span>
        <span class="post-badge badge badge-danger ml-1">{{post.nickname}}</span> |
        <span class="post-date-time">{{ post.date | dateAgo | async }}</span> |
        <span class="post-id"><a>{{post.id}}</a></span>
      </p>
    </div>
    <div class="media mb-4">
      <app-image [imgUrl]="post.imgUrl"></app-image>
<!--      <img *ngIf="post.imgUrl" class="post-image d-flex align-self-start rounded mr-3 avatar-sm img-fluid"-->
<!--           [src]="post.imgUrl" alt="Jakiś Obrazaczek">-->
      <div class="post-text media-body">
        <p>{{post.content}}</p>
      </div>
    </div>
  </div>
</div>
