@import '~bootstrap/scss/bootstrap';
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "shared";

body {
  margin: 0;
  background: $background-color;
  color: $primary-color;
  font-family: Roboto, Helvetica, sans-serif;
}

a {
  cursor: pointer;
  color: $accent-color;
}

a:hover {
  color: $text-a-hover;
}
