<div class="container">

  <div class="row justify-content-center board-name">
    <h3>{{ titleTranslationKey | translate}}</h3>
  </div>

  <app-entry-form *ngIf="category" (entrySubmitted)="saveThread($event)"></app-entry-form>

  <div class="thread-list" *ngIf="threads.length">
    <app-board-thread *ngFor="let thread of threads" [thread]="thread"></app-board-thread>
  </div>

  <a *ngIf="!allThreadLoaded" (click)="loadNextPage()" class="load-more-button">{{ "Board.LoadMore" | translate}}</a>
</div>

