<div class="container">

  <div class="row justify-content-center board-name">
    <h3>{{ titleTranslationKey | translate}}</h3>
  </div>

  <app-reply *ngIf="category" [threadCategory]="category" (threadSubmitted)="saveThread($event)"></app-reply>

  <div class="thread-list" *ngIf="threads.length">
    <app-board-thread *ngFor="let thread of threads" [thread]="thread"></app-board-thread>
  </div>

  <a *ngIf="!allThreadLoaded" (click)="loadNextPage()">{{ "Board.LoadMore" | translate}}</a>
</div>

