@import "src/styles/shared";

.post-nickname {
  font-weight: bold;
}

.post-badge {

}

.post-date-time {
  font-style: italic;
  font-weight: lighter;
}

.post-id {
  font-weight: normal;
}

.post-image {
  max-height: 256px;
  max-width: 384px;
}

.post-text {
  font-weight: normal;
}

.post-card {
  background-color: $background-color;
  border-color: $background-accent-color;
}

.post-information-hidden {
  color: $muted-color;
  margin-bottom: 0px;
}

.post-expand{
  color: $muted-accent-color;
}

.thread-mainpage {
  margin-bottom: calc(0.375rem + 15px);
}

.post-infomration-content {
  margin-bottom: 0px;
}

.posts-in-thread {
  // Small left padding for indentation posts in a thread (easier to distinct)
  padding-left: 1.5%;
  padding-right: 3%;
}
