<div class="container" id="test">
  <app-entry-form *ngIf="thread" [imageRequired]="false" (entrySubmitted)="savePost($event)"></app-entry-form>
  <div class="row thread-mainpage" *ngIf="thread && posts">
    <div class="thread">
      <div class="post-card card">
        <div class="post-body card-body">
          <div class="post-information">
            <p>
              <span class="post-nickname">Anonymous</span>
              <span class="post-badge badge badge-danger ml-1">{{ thread.nickname }}</span> |
              <span class="post-date-time">{{ thread.date | dateAgo | async }}</span>
            </p>
          </div>
          <div class="media mb-4 hidden">

            <!-- Full Image Preview after Click  -->
            <app-image [imgUrl]="thread.imgUrl"> </app-image>

            <div class="post-text media-body">
              <p>{{ thread.content }}</p>
            </div>
          </div>
<!--          <div>-->
<!--            <p class="post-information-hidden" *ngIf="!postsInThreadAreShown">-->
<!--              &lt;!&ndash; TODO: This should tell the numbers of posts in thread. &ndash;&gt;-->
<!--              <span id="posts-omitted-number">6</span> replies and-->
<!--              &lt;!&ndash; TODO: This should tell the numbers of posts in thread with pictures. &ndash;&gt;-->
<!--              <span id="pictures-omitted-number">3</span> pictures omitted.-->
<!--            </p>-->
<!--          </div>-->
        </div>
        <div class="posts-container">
          <div class="posts-in-thread">
            <app-post *ngFor="let post of posts" [post]="post"></app-post>
          </div>
          <p *ngIf="!allPostsLoaded" class="post-expand">
            <span (click)="loadNextPage()"><a>{{ 'Thread.LoadNextPage' | translate }}</a></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
