<div class="container" *ngIf="threads | async as threads">

  <!--  <ng-container *ngFor="let item of testList">-->
  <!--    <app-test *ngFor="let item of testList" [testVariable]="item"></app-test>-->
  <!--    <app-test *ngFor="let item of testList" (testOutput)="selected($event)" [testVariable]="item"></app-test>-->
  <!--    <app-test *ngFor="let item of testList" (testOutput)="selected(item)" [testVariable]="item"></app-test>-->


  <div class="row justify-content-center boardname">
<!--    <h3>{{ title }}</h3>-->
    <h3>/it/ - Informatyka & Programowanie</h3>
  </div>

  <app-reply></app-reply>


  <div class="thread-list" *ngIf="threads.length > 0">
    <app-thread *ngFor="let thread of threads" [thread]="thread"></app-thread>
  </div>

  <!--  </ng-container>-->
  <!--  <ng-container *ngIf="testList.length <= 15; else face">-->
  <!--    <p>halo</p>-->
  <!--  </ng-container>-->
  <!--  <ng-template #face> <h2>:)</h2> </ng-template>-->
  <!--  <app-test testVariable="aaa bbb"></app-test>-->

</div>

