<div class="row justify-content-center">
  <div class="col-12 col-md-9 col-lg-7">
    <div class="reply-form card">
      <form class="card-body" [formGroup]="getFormGroup()" (keydown.enter)="onSubmit()" (submit)="onSubmit()">
        <div class="form-group row">
          <label for="nickname-input"
                 class="col-md-3 col-form-label">{{ 'EntryForm.Label.Nickname' | translate }}</label>

          <div class="col-md-9">
            <input formControlName="nickname" class="form-control form-control-sm" type="text" id="nickname-input">
            <p class="validation-msg"
               [class.d-none]="!isErrorVisible('nickname')">{{ "ReplyForm.LengthValidationError" | translate: {length: 32} }}</p>
          </div>
          <label for="password-input"
                 class="col-md-3 col-form-label">{{ 'EntryForm.Label.Password' | translate }}</label>
          <div class="col-md-9">
            <input formControlName="password" class="form-control form-control-sm" type="password" id="password-input">
            <p class="validation-msg"
               [class.d-none]="!isErrorVisible('password')">{{ "ReplyForm.LengthValidationError" | translate: {length: 32} }}</p>
          </div>

          <label for="text-body-input" class="col-md-3 col-form-label">{{ 'EntryForm.Label.Text' | translate }}</label>
          <div class="col-md-9">
            <textarea formControlName="content" class="form-control form-control-sm" id="text-body-input" rows="4">
            </textarea>
            <p class="validation-msg"
               [class.d-none]="!isErrorVisible('content')">{{ "ReplyForm.LengthValidationError" | translate: {length: 4096} }}</p>
          </div>
        </div>

        <div class="custom-file">
          <input id="customFile" type="file" class="custom-file-input"
                 (change)="onFileChange($event)" (focus)="fileInputTouched()">

          <label class="custom-file-label" for="customFile">{{ 'EntryForm.Label.Image' | translate }}</label>
          <button class="submit-button" type="submit" [disabled]="getFormGroup().invalid">{{ 'EntryForm.Submit' | translate }}</button>
          <p class="validation-msg"
             [class.d-none]="!isErrorVisible('imageFile')">{{ "ReplyForm.InvalidValue" | translate }}</p>
          <div class="m-1 upload">
            <ul>
              <li>{{ 'EntryForm.Image.SupportedTypes' | translate }}: <code>.jpg</code>, <code>.png</code>,
                <code>.jpeg</code>, <code>.gif</code></li>
              <li>{{ 'EntryForm.Image.MaxSize' | translate }}: <code>5MB</code></li>
            </ul>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
