@import "src/styles/shared";

.upload {
  font-weight: lighter;
  font-size: x-small;
  padding-left: -20px;
}

.upload > ul > li {
  margin-left: -20px;
}

.reply-form {
  background-color: $background-color;
  border-color: $background-color;
}

.reply-form > .card-body > .form-group {
  margin-bottom: calc(0.375rem + 1px);
}

label {
  font-weight: bold;
  font-size: larger;
}

.form-control, {
  width: 100%;
}

.custom-file-label, .custom-file-input {
  width: 80%;
}

input, input:focus, textarea, textarea:focus, .custom-file-label {
  background-color: $background-secondary-color;
  color: $primary-color;
}

.custom-file-label {
  font-weight: normal;
  font-size: medium;
}

input:focus, textarea:focus,
input:active, textarea:active,
input:target, textarea:target {
  //outline-color: $accent-color;
  border-color: $accent-secondary-color;
  box-shadow: 0 0 0 1px $accent-color;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  color: $primary-color;
  background-color: $background-accent-color;
}

.custom-file-input::after {
  color: red;
}

.validation-msg {
  margin: 4px 0 8px;
  font-size: 55%;
  color: #e83e8c;
  word-wrap: break-word;
}


.submit-button{
  border: 1px solid #ced4da;
  background-color: $background-secondary-color;
  color: $primary-color;
  height: inherit;
  width: 108px;
  margin-left: 10px;
}

.submit-button > button:disabled, button[disabled]{
  background-color: $disabled-color;
  border-color: $muted-color;
}


