@import "src/styles/shared";

.upload {
  font-weight: lighter;
  font-size: x-small;
  padding-left: -20px;
}

.upload > ul > li {
  margin-left: -20px;
}

.reply-form {
  background-color: $background-color;
  border-color: $background-color;
}

.reply-form > .card-body > .form-group {
  margin-bottom: calc(0.375rem + 1px);
}

label {
  font-weight: bold;
  font-size: larger;
}

.form-control, .custom-file-input {
  width: 100%;
}

input, input:focus, textarea, textarea:focus, .custom-file-label {
  background-color: $background-secondary-color;
  color: $primary-color;
}

.custom-file-label {
  font-weight: normal;
  font-size: medium;
}

input:focus, textarea:focus,
input:active, textarea:active,
input:target, textarea:target {
  //outline-color: $accent-color;
  border-color: $accent-secondary-color;
  box-shadow: 0 0 0 1px $accent-color;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  color: $primary-color;
  background-color: $background-accent-color;
}

.custom-file-input::after {
  color: red;
}
