.postNickname {
  font-weight: bold;
}

.postBadge {

}

.postDateTime {
  font-style: italic;
  font-weight: lighter;
}

.postID {
  font-weight: normal;
}

.postImage {
  max-height: 256px;
  max-width: 384px;
}

.postText {
  font-weight: normal;
}
