@import "src/styles/shared";

.upload {
  font-weight: lighter;
  font-size: x-small;
  padding-left: -20px;
}

.upload > ul > li {
  margin-left: -20px;
}

.reply-form {
  background-color: $background-color;
  border-color: $background-color;
  max-width: 500px;
}

.reply-form > .card-body > .form-group {
  margin-bottom: 6px;
}

label {
  font-weight: bold;
  font-size: larger;
}

.form-control, .custom-file-input {
  width: 100%;
}
