<div class="row justify-content-center">
  <!--  <p (click)="select()">{{testVariable}}</p>-->
  <div class="col-12 col-md-9 col-lg-7">
    <div class="reply-form card">
      <form class="card-body" [formGroup]="getFormGroup()" (keydown.enter)="onSubmit()" (submit)="onSubmit()">
        <div class="form-group row">
          <label for="email-input" class="col-md-3 col-form-label">Email</label>

          <div class="col-md-9">
            <input class="form-control form-control-sm" type="text" value="" id="email-input">
          </div>

          <label for="title-input" class="col-md-3 col-form-label">Topic</label>
          <div class="col-md-9">
            <input formControlName="topic" class="form-control form-control-sm" type="text" value="" id="title-input">
          </div>

          <!--          <div class="mb-3">-->
          <!--            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>-->
          <!--            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>-->
          <!--          </div>-->

          <!--          <ckeditor [editor]="Editor" data="<p>Content of the editor.</p>"></ckeditor>-->

          <label for="password-input" class="col-md-3 col-form-label">Password</label>
          <div class="col-md-9">
            <input class="form-control form-control-sm" type="password" value="" id="password-input">
          </div>

          <label for="text-body-input" class="col-md-3 col-form-label">Text</label>
          <div class="col-md-9">
            <textarea class="form-control form-control-sm" type="text" value="" id="text-body-input" rows="4">
            </textarea>
          </div>
        </div>

        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Insert an Image...</label>
          <div class="m-1 upload">
            <ul>
              <li>Supported filetypes: <code>.jpg</code>, <code>.png</code>, <code>.jpeg</code>, <code>.gif</code></li>
              <li>Maximum filesize: <code>5MB</code></li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
