<div class="container">
<!--  <p (click)="select()">{{testVariable}}</p>-->
  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <div class="form-group row">
          <label for="example-email-input" class="col-md-2 col-form-label">Email</label>

          <div class="col-md-10">
            <input class="form-control form-control-sm" type="text" value="" id="example-email-input">
          </div>

          <label for="example-email-input" class="col-md-2 col-form-label">Topic</label>
          <div class="col-md-10">
            <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
          </div>

<!--          <ckeditor [editor]="Editor" data="<p>Content of the editor.</p>"></ckeditor>-->

          <label for="example-password-input" class="col-md-2 col-form-label">Password</label>
          <div class="col-md-10">
            <input class="form-control form-control-sm" type="password" value="" id="example-password-input">
          </div>

        </div>

        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Insert an Image...</label>
          <div class="m-1 upload">
            <ul>
              <li>Supported filetypes: <code>.jpg</code>, <code>.png</code>, <code>.jpeg</code>, <code>.gif</code></li>
              <li>Maximum filesize: <code>5MB</code></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
